# Directories #
build/
bin/
target/
 
# OS Files #
.DS_Store
 
*.class
 
# Package Files #
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
desktop.ini
.ideia
*.iml
*.ipr
*.iws
*~
*#
.*.swp
.*.swo
*.patch
.settings
.groovy

# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 

